.layout-sidebar {
    position: fixed;
    width: 400px;
    height: calc(100vh - 9rem);
    z-index: 999;
    user-select: none;
    top: 7rem;
    left: 2rem;
    transition: transform $transitionDuration, left $transitionDuration;
    background-color: var(--surface-sidebar);
    // background-image: url('public/images/table_sidebar.png');

    background-size: 300px calc(100vh - 9rem) ;

    background-position: center center;
    // overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // border-radius: $borderRadius;
    padding: 2rem 1.5rem;
    background-color: rgb(255, 255, 255);
   
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    // box-shadow: 0px 0px 10px var(--primary-color);
    // backdrop-filter: blur(5px); /* Difuminar el fondo */

}



.layout-sidebar::before {
    content: '';
    position: relative;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;

    background-color: var(--primary-color); /* Ajusta el nivel de oscurecimiento aquí */
    backdrop-filter: blur(1px); /* Ajusta el nivel de desenfoque aquí */
    z-index: -1;
    // position: absolute;
    overflow: auto;
    // background-color: rgb(255, 0, 0);
    // opacity: 0.5;
    // background-image: url('@/images/table_sidebar.png');
    background-size: cover;
    background-position: center center;
    border-radius: $borderRadius;
    backdrop-filter: blur(5px); /* Difuminar el fondo */

}











.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .layout-root-menuitem {
        > .layout-menuitem-root-text {
            font-size: 0.857rem;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--white-900);
            margin: 0.75rem 0;
        }

        > a {
            display: none;
        }
    }

    a {
        user-select: none;

        &.active-menuitem {
            > .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }
    }

    li.active-menuitem {
        > a {
            .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        a {
            display: flex;
            align-items: center;
            position: relative;
            // outline: 1 none;
            color: var(--text-color);
            cursor: pointer;
            // box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
            background-color: white;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0.75rem 1rem;
            // border-radius: 2rem;
            border-bottom: 2px solid var(--primary-color);
            transition: background-color $transitionDuration, box-shadow $transitionDuration;
            margin:  1rem 0;
            .layout-menuitem-icon {
                margin-right: 0.5rem;
            }

            .layout-submenu-toggler {
                font-size: 75%;
                margin-left: auto;
                transition: transform $transitionDuration;
            }

            &.active-route {
                font-weight: 700;
                color: var(--primary-color);
            }

            &:hover {
                background-color: var(--surface-hover);
            }

            &:focus {
                // @include focused-inset();
                
            }
        }

        ul {
            overflow: hidden;
            border-radius: $borderRadius;

            li {
                a {
                    margin-left: 1rem;
                }

                li {
                    a {
                        margin-left: 2rem;
                    }

                    li {
                        a {
                            margin-left: 2.5rem;
                        }

                        li {
                            a {
                                margin-left: 3rem;
                            }

                            li {
                                a {
                                    margin-left: 3.5rem;
                                }

                                li {
                                    a {
                                        margin-left: 4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-submenu-enter-from,
.layout-submenu-leave-to {
    max-height: 0;
}

.layout-submenu-enter-to,
.layout-submenu-leave-from {
    // max-height: 1000px;
}

.layout-submenu-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.layout-submenu-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
